# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment (only specific)
env/
therapy_env/

# Python packaging
*.egg-info/
dist/
build/

# Logs
*.log

# SQLite DB
db.sqlite3
db.sqlite3-journal

# VS Code / IDE
.vscode/
.idea/

# Jupyter
.ipynb_checkpoints/

# Pytest / Coverage
.pytest_cache/
.coverage
htmlcov/
.cache/

# Environment files
.env

# Flask / Django specific
instance/
local_settings.py
